<div class="according">
    <nav class="accordion arrows">
        <input type="radio" name="accordion" id="cd1" />
        <section class="box">
            <label class="box-title" for="cd1">What can I help you about this services?</label>
            <label class="box-close" for="acc-close"></label>
            <div class="box-content">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</div>
        </section>
        <input type="radio" name="accordion" id="cd2" />
        <section class="box">
            <label class="box-title" for="cd2">What can I help you about this services?</label>
            <label class="box-close" for="acc-close"></label>
            <div class="box-content">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</div>
        </section>
        <input type="radio" name="accordion" id="cd3" />
        <section class="box">
            <label class="box-title" for="cd3">What can I help you about this services?</label>
            <label class="box-close" for="acc-close"></label>
            <div class="box-content">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</div>
        </section>
        <input type="radio" name="accordion" id="cd4" />
        <section class="box">
            <label class="box-title" for="cd4">What can I help you about this services?</label>
            <label class="box-close" for="acc-close"></label>
            <div class="box-content">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</div>
        </section>

        <input type="radio" name="accordion" id="acc-close" />
    </nav>
</div>